<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon & bookmark -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/bookmark.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/x-icon" />
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Website Title -->
    <title>Enigma Finance</title>
    <!-- Stylesheets Start -->
    <link href="~/Content/Theme/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Theme/animate.css" rel="stylesheet" />
    <link href="~/Content/Theme/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/style.css" rel="stylesheet" />
    <link href="~/Content/Theme/responsive.css" rel="stylesheet" />
    <!-- Stylesheets End -->
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>
<body>

    @RenderBody()








    <script src="~/Content/Theme/jquery.min.js"></script>
    <script src="~/Content/Theme/onpagescroll.js"></script>
    <script src="~/Content/Theme/wow.min.js"></script>
    <script src="~/Content/Theme/owl.carousel.js"></script>
    <script src="~/Content/Theme/Chart.js"></script>
    <script src="~/Content/Theme/chart-function.js"></script>
    <script src="~/Content/Theme/script.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            setTimeout(function () {
                jQuery('.diamond-animation').addClass('done');
            }, 6000);
            setTimeout(function () {
                jQuery('.diamond-animation .main').addClass('active');
            }, 1000);
            setTimeout(function () {
                jQuery('.inside-bitcoin').addClass('active');
            }, 3000);
            setTimeout(function () {
                jQuery('.inside-bitcoin').addClass('spincoin');
            }, 5000);
            setTimeout(function () {
                jQuery('.diamond-animation .lines').addClass('active');
            }, 6000);
            setTimeout(function () {
                jQuery('.diamond-animation .top-coin').addClass('active');
            }, 3000);
            setTimeout(function () {
                jQuery('.diamond-animation .outer-Orbit').addClass('active');
            }, 5000);
        });
    </script>
</body>
</html>





