<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Test ortami: arama motorlarina indeksletme (gercek icerik gelene kadar) -->
        <add name="X-Robots-Tag" value="noindex, nofollow" />
        <!-- Test/preview: HTML her ziyarette taze gorulsun (musteri iterasyon preview'i cache'te takilmasin; hash'li _astro asset'leri zaten cache-busted) -->
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".avif" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
